<%= form_with model: @comment, url: user_post_comments_url(@user, @post), scope: :comment, method: :post do |f| %>
  <h2>Add a new comment</h2>
  <div>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>