<h1>User#Name placeholder</h1>
<p>Here is the details of a user given its id</p>
<ul class="users">
  <li class="user">
    <div class="user__photo">Photo placeholder</div>
    <div class="user__container">
      <div class="user__name">Name placeholder</div>
      <div class="user__posts_counter">Number of Posts: posts_counter placeholder</div>
    </div>
  </li>
</ul>

<div class="user__bio">
  <h2>Bio</h2>
  <p>Bio placeholder</p>
</div>

<ul class="posts">
  <li class="post">
    <div class="post__container">
      <div class="post__title">Title placeholder</div>
      <div class="post__text">Text placeholder</div>
      <div class="post__comments_counter">Number of Comments: comments_counter placeholder</div>
      <div class="post__likes_counter">Number of Likes: likes_counter placeholder</div>
    </div>
  </li>
</ul>

<button type="button">See all posts</button>
