*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* stylelint-disable-next-line at-rule-no-unknown */
  @include flex-center-column;

  font-family: $font-body;
  font-size: 1rem;
  padding: 0;
  background-image: linear-gradient(45deg, $color-accent, darken($color-accent, 25%));
  background-size: 100vw 100vh;
}

main {
  /* stylelint-disable-next-line at-rule-no-unknown */
  @include flex-center-column;

  background-color: $color-negative;
  max-width: 65em;
  width: 100%;
  padding: 3em 0;
  border-radius: 1em;
  box-shadow: 0.5em 0.5em 1em inset;
  margin-top: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-title;
  font-weight: 700;
}

a {
  &,
  &:hover,
  &:active,
  &:visited {
    color: inherit;
    text-decoration: none;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-duration: 0.5s;
  }
}

ul {
  list-style: none;
}

.box-alert {
  color: $color-primary;
  border: solid green 0.2em;
  border-radius: 0.8em;
  padding: 0.8em;

  &.success {
    background-color: lightgreen;
    border-color: green;
  }

  &.error,
  &.alert {
    background-color: lightcoral;
    border-color: red;
    font-weight: bold;
  }

  &.notice {
    background-color: lightgoldenrodyellow;
    border-color: orange;
  }
}

textarea {
  width: 90%;
  height: 10em;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 90%;
  width: 50em;
}

form > div {
  padding: 1em;
  border-radius: 1em;
  border: 0.1em $color-accent solid;
}

img {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6em;
  padding: 1em;
  width: 100%;
  inset: 0 0;
  background-color: $color-negative;

  & > * {
    max-height: 100%;
    display: flex;
    flex: 15em 1 1;
  }
}

input {
  font-size: 1rem;
}

button,
input:is([type="button"], [type="submit"], [type="reset"]) {
  appearance: none;
  box-shadow: 0.2em 0.2em 0.4em;
  font-size: 0.8rem;
  color: $color-negative;
  background-color: $color-accent;
  border: 0.16em $color-accent solid;
  padding: 0.5em;
  border-radius: 0.5em;
}

nav {
  flex-basis: 20em;
  justify-content: flex-end;

  & > ul {
    display: flex;
    gap: 1em;
    justify-content: flex-end;
    align-items: center;

    & a:hover,
    & a:active,
    & a:visited {
      text-decoration: underline;
    }
  }
}

.button_to {
  width: 6em;
}

.logo {
  border-radius: 0.5em;
  box-shadow: 0.08em 0.08em 0.16em;
}
